<template>
  <div>
    <div class="chart-holder">
      <b-row class="mx-0 mb-3">
        <b-col cols="4">
          <!-- <Pie graph-id="pie1"/> -->
          <stacked-bar graph-id="stack1"/>
        </b-col>
        <b-col cols="4">
          <stacked-bar graph-id="stack2"/>
        </b-col>
        <b-col cols="4">
          <stacked-bar graph-id="stack3"/>
        </b-col>
      </b-row>
      <!-- <line-chart/> -->
      <b-row class="mx-0 my-3">
        <b-col cols="4">
          <!-- <h3>Hello</h3> -->
          <Histogram graph-id="histogram1" name="Connected Traffic by day of the month"/>
        </b-col>
        <b-col cols="4">
          <Histogram graph-id="histogram2" name="Sales value by day of the month"/>
        </b-col>
        <b-col cols="4">
          <Histogram graph-id="histogram3" name="Connected Traffic by entry time"/>
        </b-col>
      </b-row>
      <b-row class="mx-0 my-3">
        <b-col cols="4">
          <!-- <h3>Hello</h3> -->
          <Histogram graph-id="histogram4" name="Sales value by entry time"/>
        </b-col>
        <b-col cols="4">
          <Histogram graph-id="histogram5" name="Connected Traffic by day of the week"/>
        </b-col>
        <b-col cols="4">
          <Histogram graph-id="histogram6" name="Sales value by day of the week"/>
        </b-col>
      </b-row>
    </div>
  </div>
</template>
<script>
import Histogram from "@/components/Histogram";
import Pie from "@/components/Pie";
import StackedBar from "@/components/StackedBar"
export default {
  components: {
    Histogram,
    Pie,
    'stacked-bar': StackedBar
  }
};
</script>


