/* eslint-disable */
<template>
  <div>
    <SideBarControl/>
    <SideBarCard :titleCard="cardsData"/>
  </div>
</template>
<script>
import SideBarCard from "@/components/SideBarCard";
import SideBarControl from "@/components/SideBarControl";
export default {
  name: "sidebar",
  data() {
    return {
      cardsData: [
        {
          id: "1",
          title: "Zone Connected Traffic",
          value: "257,112",
          delta: {
            value: "12%",
            status: false
          }
        },
        {
          id: "2",
          title: "Zone Sales Volume",
          value: "51,422",
          delta: {
            value: "4%",
            status: true
          }
        },
        {
          id: "3",
          title: "Zone Sales Value",
          value: "$2.88M",
          delta: {
            value: "3%",
            status: true
          }
        },
        {
          id: "4",
          title: "Zone Connected Conversion",
          value: "20%",
          delta: {
            value: "18%",
            status: true
          }
        },
        {
          id: "5",
          title: "Zone Value Per Sales",
          value: "$56.0",
          delta: {
            value: "1%",
            status: false
          }
        },
        {
          id: "6",
          title: "Zone OCR (Rent/Sale)",
          value: "9.8%",
          delta: {
            value: "3%",
            status: false
          }
        }
      ]
    };
  },
  components: {
    SideBarCard,
    SideBarControl
  }
};
</script>

