<template class="full">
  <b-card tag="article" style="" class="mb-2">
    <b-row no-gutters class="-mx-2">
      <b-col>
        <div class="px-2">
          <b-dropdown id="ddown1" text="1F" size="sm" class="drop mb-2">
            <b-dropdown-item>First Action</b-dropdown-item>
            <b-dropdown-item>Second Action</b-dropdown-item>
            <b-dropdown-item>Third Action</b-dropdown-item>
            <b-dropdown-divider></b-dropdown-divider>
            <b-dropdown-item>Something else here...</b-dropdown-item>
            <b-dropdown-item disabled>Disabled action</b-dropdown-item>
          </b-dropdown>
        </div>
      </b-col>
      <b-col>
        <div class="px-2">
          <b-dropdown id="ddown1" text="Zone 03" size="sm" class="drop mb-2">
            <b-dropdown-item>First Action</b-dropdown-item>
            <b-dropdown-item>Second Action</b-dropdown-item>
            <b-dropdown-item>Third Action</b-dropdown-item>
            <b-dropdown-divider></b-dropdown-divider>
            <b-dropdown-item>Something else here...</b-dropdown-item>
            <b-dropdown-item disabled>Disabled action</b-dropdown-item>
          </b-dropdown>
        </div>
      </b-col>
    </b-row>
    <b-row>
      <b-col>
        <b-dropdown id="ddown1" text="June 2017" size="sm" class="drop mb-2">
          <b-dropdown-item class="date-dropdown">
            <date-picker :inline="true"></date-picker>
          </b-dropdown-item>
        </b-dropdown>
      </b-col>
    </b-row>
    <b-row>
      <b-col>
        <div class="select-btn">
          <b-form-checkbox-group
            buttons
            v-model="selected"
            name="butons1"
            size="sm"
            :options="options"
          ></b-form-checkbox-group>
        </div>
      </b-col>
    </b-row>
  </b-card>
</template>

<script>
import Datepicker from "vuejs-datepicker";
export default {
  components: {
    "date-picker": Datepicker
  },
  data() {
    return {
      selected: [],
      options: [
        {
          text: "Always On",
          value: "always-on"
        },
        {
          text: "Passer By",
          value: "passer-by"
        }
      ]
    };
  }
};
</script>

<style scoped>
.full {
  font-size: 12px !important;
}

.mb-2 {
  color: white;
  background-color: #4a78a8;
}

.drop {
  width: 100%;
}

.card-text {
  font-size: 14px;
  margin: 0px;
}

.card-title {
  margin: 0px;
}

.card-body {
  padding: 10px;
  /* display: inherit; */
}
.-mx-2 {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.select-btn .btn-group-toggle {
  width: 100%;
}
.date-dropdown{
    white-space: normal;
}
</style>

