<template>
  <div class="chart">
    <h5>{{graphId}}</h5>
    <div class="my-card mx-2">
      <span class="card-text mx-2 my-2">Unique connected visitors</span>
      <span class="card-value mx-2 my-2">197,778</span>
    </div>
    <canvas height="60px" class="stack-chart" :id="graphId"></canvas>
    <!-- {{values}} -->
  </div>
</template>

<script>
import planetChartData from "@/charts/stackedchart.js";

export default {
  props: ["graphId", "values"],
  methods: {
    createChart(chartId, chartData) {
      const ctx = document.getElementById(chartId);
      const myChart = new Chart(ctx, {
        type: chartData.type,
        data: chartData.data,
        options: chartData.options
      });
    }
  },
  data() {
    return {
      planetChartData: planetChartData
    };
  },
  mounted() {
    this.createChart(this.graphId, this.planetChartData);
  }
};
</script>

<style>
.chart {
  padding: 10px;
  background-color: #3a3a3a;
  border-radius: 5px;
}
.stack-chart {
  margin-left: -5px;
}
.my-card{
  padding-bottom:15px;
}
.card-value{
  border-radius: 5px;
  padding:5px;
}
</style>
